<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag asset_path('Stay22Favicon.png') %>
    <title>Stay22 - Upgrade your stay</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta content="Stay22 is an accommodation map to help businesses provide their customers a great booking  experience. The only solution to display both hotels and Airbnbs." name="description">
    <meta content="Stay22: Accommodation Map for Event & Travel Businesses" property="og:title">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
